<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WBKiller</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <header class="container">
        {% block header %}
            <div class="d-flex justify-content-between mt-3 align-items-center">
                <h1><a href="{% url 'main' %}">WBKiller</a></h1>
                <div class="d-flex">
                    {% if request.user.is_authenticated %}
                    <div class="dropdown">
                      <button class="btn btn-secondary bg-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Actions
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" type="button" href="{% url 'profile' request.user.pk %}">Profile</a></li>
                        <li><a class="dropdown-item" type="button" href="{% url 'cart' %}">Cart</a></li>
                        <li><a class="dropdown-item" type="button" href="{% url 'balance' %}">Balance: {{request.user.profile.balance|floatformat:2}} rub.</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                      </ul>
                    </div>

                    {% else %}
                        <a class="me-3" href="{% url 'login' %}">Log in</a>
                        <a href="{% url 'register' %}">Register</a>

                    {% endif %}
                </div>
            </div>
        {% endblock %}
    </header>

    <main class="container">
        {% block main %}
        {% endblock %}
    </main>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">  </script>
</html>